@media screen and (min-width: 900px){
    /* not show in desk */
    .header__logo-div{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    .header__logo-lettering{
        display: flex;
        font-size: 15pt;
        font-weight: 750;
        align-self: center;
        color: var(--secondary-color);
    }
    .header__button{
        display: none;
    }
    .header__options{
        display: flex;
        align-items: center;
        margin: 0;
    }
    .header__options{
        font: var(--font-header-options-style);
        align-items:center;
        margin: 0 10px;
    }
    .header__link{
        color: var(--secondary-color);
    }
    .header__link:hover{
        border-bottom: 2px solid var(--secondary-color);
    }
    .header__desk-btn{
        display: flex;
        align-items: center;
    }
    .header__log-in, .header__sign-up{
        font-weight: 700;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
    }
    .header__log-in{
        border: 2.5px solid var(--secondary-color);
        color: var(--secondary-color);
        background-color: transparent;
        margin: 0 5px;
        padding: 5px 10px;
    }
    .header__sign-up{
        border: none;
        background-color: var(--secondary-color);
        color: var(--white-color);
        padding: 6.8px 23px;
    }
    .registrate{
        width: 75%;
    }
    .form__div{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    /* now you can show it */
    .form__label--user, .form__label--name, .form__label--email, .form__label--last-name, .form__label--password, .form__label--repeat-password{
        display: flex;
        width: 150px;
    }
    .form__fieldset{
        padding: 0 0 0 10px;
    }
    .form__input--bar{
        width: 70%;
    }
    .form__div--textarea{
        width: 100%;
        display: flex;
        padding: 0;
    }
    .form__textarea{
        width: 95%;
    }
    /* .form__div--duration*/ .form__img, .form__div--textarea{ 
        justify-content: center;
    }
    .form__showimg{
        height: 200px;
    }
}