*{
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --primary-color: #88C426;
    --secondary-color: #1d555b;
    --tertiary-color: #970808;
    --white-color: #ffff;
    --input-backgorund: #dbdada;
}
a{
    color: black;
    font-style: none;
    text-decoration: none;
}
p{
    font-size: 120%;
}
span{
    font-size: 120%;
}
/* HEADER */
.header{
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 0;
    position: fixed;
    z-index: 99;
    top: 0;
}
.header__logo {
    width: 65px;
    margin-left: 20px;
} 
.header__menu {
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin-right: 20px;
}
.header__button {
    padding: 15px 2px;
    background: none;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-flow: column wrap;
}
.header__lines {
    padding: 2px 20px;
    background-color: var(--secondary-color);
    margin: 6px;
}
/* not show in mobile */
.header__logo-lettering,.header__desk-btn, .header__options{
    display: none;
}

/* Menu */
.menu{
    position: absolute;
    background-color: var(--primary-color);
    width: 100vw;
    top:-350px;
}
.menu__option{
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.menu__options{
    font-size: 1.3rem;
    font: var(--font-header-options-style);
    padding: 0;
    margin: 0;
}
.menu__option:hover{
    background-color: var(--menu-option-hover);
    width: 100vw;
}
.menu.active{
    top: 75px;
    transition: 200ms ease;
    z-index: -99;
}
/* botones dentro del menú */
.menu__desk-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.menu__log-in, .menu__sign-up{
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    margin: 5px 0;
}
.menu__log-in{
    border: 2.5px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
    margin: 0 5px;
    padding: 5px 10px;
}
.menu__sign-up{
    border: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 6.8px 23px;
}
/* FORMULARIO */
.iniciar-secion{
    position: relative;
    top: 130px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    width: 95%;
    margin: auto;
    margin-bottom: 150px;
    box-shadow: -4px 4px 9px 2px;
    padding: 10px 10px;
    box-sizing: border-box;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.form__explain{
    text-align: center;
}
.form__logo{
    text-align: center;
}
.form__logo--img{
    width: 175px;
    height: 175px;
}
.form__fieldset{
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    justify-self: center;
    margin: 0;
    padding: 0;
}
.form__div{
    margin: 8px 0;
    width: 100%;
}
.form__label{
    font-weight: 600;
    font-size: 120%;
}
.form__input{
    width: 85%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: var(--input-backgorund);
}
.form__textarea{
    width: 85%;
    height: 90px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: var(--input-backgorund);
}
.form__div--button-container{
    width: 100%;
    height: fit-content;
}
.form__input--button{
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 800;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__cuenta{
    font-size: 17px;
}
.form__cuenta--link{
    color: var(--primary-color);
}
/* not show in mobile */
.header__logo-lettering,.header__desk-btn, .header__options, .form__label--email, .form__label--password{
    display: none;
}