.footer{
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.footer__logo-uni{
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.footer__logo-uni-img{
    width: 65px;
}
.footer__links{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.footer__events-list{
    color: var(--white-color);
    margin: 10px 5px;
    padding: 0;
}

.footer__element-link{
    color: var(--white-color);
}
.footer__follow-links{
    display: flex;
    flex-flow: column wrap;
}
.footer__sm-icon{
    margin: 0 10px;
    font-size: 3rem;
    color: var(--primary-color)
}
.footer__follow-links-logo{
    width: 65px;
}
.footer__social-media-icons{
    justify-content: space-around;
    display: flex;
}
.header__logo-lettering--footer{
    text-align: center;
    color: var(--primary-color);
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 5px;
}
